.slick-prev::before,
.slick-next::before {
  color: #000; 
  display: block;
}

.slick-dots li button::before {
  font-size: 0.52rem; 
 
}

.slick-dots li:hover button::before {
  color: steelblue;
}


@media (max-width: 658px) {
  .slick-prev::before,
.slick-next::before {
display: none;
}
}
.AdResources .slick-prev::before,
.slick-next::before {
display: none;
}

